	<!-- Inicia Seccion de Contenido -->
		<section>
		   	<div class="container">
		   		<div class="row">
		   			<div class="col s1"></div>
		   			<div class="col s11">
		   				<div class="container">
				   			<h1>Proyectos</h1>
				   				<br>
				   				<br>
				   				<a class="btn-floating btn-large waves-effect waves-light green right" href="agregarProyecto.php"><i class="material-icons">add</i></a>
				   				<br>
				   				<br>
				   				      <table>
								        <thead>
								          <tr>
								              <th>Titulo</th>
								              <th>ID</th>
								              <th>Fecha inicio</th>
								              <th> Acciones</th>
								          </tr>
								        </thead>

								        <tbody>
								          <tr>
								            <td>aaaaBBBaaa</td>
								            <td>00001</td>
								            <td>01/01/2020</td>
								            <td> 
								            	<a class="waves-effect waves-light btn-small red lighten-2"><i class="material-icons">delete</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">exit_to_app</i></a>
								            </td>
								          </tr>
								          <tr>
								            <td>aaaaBBBaaa</td>
								            <td>00002</td>
								            <td>01/01/2020</td>
								            <td> 
								            	<a class="waves-effect waves-light btn-small  red lighten-2"><i class="material-icons">delete</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">exit_to_app</i></a>
								            </td>
								          </tr>
								          <tr>
								            <td>aaaaBBBaaa</td>
								            <td>00003</td>
								            <td>01/01/2020</td>
								            <td> 
								            	<a class="waves-effect waves-light btn-small red lighten-2"><i class="material-icons">delete</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">edit</i></a>
								            	<a class="waves-effect waves-light btn-small"><i class="material-icons">exit_to_app</i></a>

								            </td>
								          </tr>
								        </tbody>
								      </table>
				   		</div>
		   			</div>
		   		</div>
		   	</div>
	   	</section>
	   	<!-- Termina Seccion de Contenido -->
