<?php

    echo "<section><div class=\"container\"<div class=\"row\"><div class=\"col s12\"><div class=\"container\"><h1 class=\"center\">Productos</h1><br><br><a class=\"btn-floating btn-large waves-effect waves-light green right\" href=\"agregarProducto.php\"><i class=\"material-icons\">add</i></a><br><br>";

    	echo "<br><div class=\"row\"><form method=\"POST\">";
    	echo "<div class=\"input-field col s3\">";
	    echo consultar_select("id_marca", "nombre", "marca");
	    echo "<div class=\"input-field col s3\">";
	    echo consultar_select("id_tipo", "nombre", "tipoproducto");
	    echo "<div class=\"input-field col s3\">";
	    echo consultar_select("id_estatus", "nombre", "estatus");
	    echo "<div class=\"input-field col s3\">";
	    echo "<input class=\"btn\" type=\"submit\" value=\"Buscar\">";
	    echo "</form></div>";

	    if (isset($_POST["marca"])) {
	    	$marca = htmlspecialchars($_POST["marca"]);
	    } else {
	    	$marca = "";
	    }


	    if (isset($_POST["tipoproducto"])) {
	    	$tipo = htmlspecialchars($_POST["tipoproducto"]);
	    } else {
	    	$tipo = "";
	    }

	    if (isset($_POST["estatus"])) {
	    	$estatus = htmlspecialchars($_POST["estatus"]);
	    } else {
	    	$estatus = "";
	    }

	    echo consultar_productos($marca,$tipo,$estatus);

	echo "</div></div></div></div></section>";

?>